# Neon Serverless Postgres / PostgreSQL Database URL
# Example: postgresql://username:password@ep-host-pooler.region.aws.neon.tech/neondb?sslmode=require
DATABASE_URL="postgresql://your_db_owner:your_password@your_host-pooler.region.aws.neon.tech/neondb?sslmode=require"
